<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイトル</title>
 <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<!--  
<table border="1">
	<tr>
		<th>商品名</th>
		<th th:text="${item.name}"></th>
	</tr>
	<tr>
		<td>詳細</td>
		<td th:text="${item.description}"></td>
	</tr>
	<tr>
		<td>値段</td>
		<td th:text="${item.priceM}"></td>
	</tr>
	<tr>
		
		<td>
		<img th:src="@{/image/}+${item.imagePath}"
		class="img-responsive img-rounded item-img-center"
                      width="200"
                      height="600">
		</td>
	</tr>
	
</table>
	-->
	 <form th:action="@{/cart}" th:object="${cartForm}">
      <input type="hidden" name="itemId" th:value="${item.id}">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <h3 class="text-center">商品詳細</h3>
            <div class="row">
              <div class="col-xs-5">
                <img
                  th:src="@{/image/}+${item.imagePath}"
                  class="img-responsive img-rounded item-img-center"
                />
              </div>

              <div class="col-xs-5">
                <div class="bs-component">
                  <h4 th:text="${item.name}">選択商品名</h4>
                  <br />
                  <br />
                  <p th:text="${item.description}">
                    マイルドな味付けのカレーに大きくカットしたポテトをのせた、バターとチーズの風味が食欲をそそるお子様でも楽しめる商品です。
                  </p>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-offset-2 col-xs-8">
                <div class="form-group">
                  <div class="row">
                    
                    <div class="col-sm-12">
                      <label class="radio-inline">
                        <input type="hidden" >
                        <span th:text="${item.priceM}" id="priceM" >&nbsp;&nbsp;ダミー円(税抜)</span>
                      </label>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            
            <div class="row">
              <div class="col-xs-offset-2 col-xs-8">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-5 col-sm-5">
                      <label for="">数量:</label>
                      <label
                        class="control-label"
                        style="color: red"
                        for="inputError"
                        >数量を選択してください</label
                      >
                      <select name="area" class="form-control" id="noodlenum" th:field="*{quantity}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                    </div>
			<div class="row">
              <div class="col-xs-offset-2 col-xs-10">
                <div class="form-group">
                 <span> 合計金額：<span id="total-price"></span>円(税抜)</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-2 col-xs-3">
                <div class="form-group">
                  <p>
                    <input
                      class="form-control btn btn-warning btn-block"
                      type="submit"
                      value="カートに入れる"
                    />
                  </p>
                </div>
              </div>
            </div>
            </div>
            </div>

          </div>
        </div>
        </div>
        </div>
      </form>


<a th:href="@{/item}">戻る</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sumOrderPrice.js}"></script>
</body>
</html>