<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイトル</title>
</head>
<body>
<div>
<a th:href="@{/toRegister}">
<button>会員登録</button>
</a>
</div>
<div>
<a th:href="@{/item}">
<button>商品一覧</button>
</a>
</div>
ログインページ
<form th:action="@{/login}" th:object="${loginForm}">
	
	  <div th:text="${emailError}" style="color: red"></div>
	メールアドレス：<br><input type="email" th:field="*{email}"><br>
		  <div th:text="${passwordError}" style="color: red"></div>
	パスワード：<br><input type="password" th:field="*{password}"><br>
	<button>ログイン</button>

</form>

</body>
</html>