<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タイトル</title>
</head>
<body>
	<!-- ログイン/ログアウト -->
	<span th:if="${session.user == null}"> <!-- ログイン --> <a
		th:href="@{/toLogin}"> ログイン<img alt="login"
			th:src="@{/img_noodle/login.png}">
	</a></span>&nbsp;&nbsp;

	<span th:unless="${session.user == null}"> <!-- ログアウト --> <a
		th:href="@{/logout}"> ログアウト<img alt="logout"
			th:src="@{/img_noodle/logout.png}">
	</a></span>
	<div>
		<a th:href="@{/item}">
			<button>商品一覧</button>
		</a>
	</div>
	<form method="post" th:action="@{/register}" th:object="${userForm}">
		名前：
		<div th:errors="*{name}" style="color: red">名前エラー</div>
		<input type="text" name="name" th:field="*{name}"><br> 
		メール：
		<div th:errors="*{email}" style="color: red">エラー</div>
		<input type="email" name="email" th:field="*{email}"><br> 
		パスワード：
		<div th:errors="*{password}" style="color: red">エラー</div>
		<input type="password" name="password" th:field="*{password}"><br> 

		確認用パスワード：
		<div th:errors="*{confirmPassword}" style="color: red">エラー</div>
		<input type="password" name="confirmPassword"
			th:field="*{confirmPassword}"> <br> 
		郵便番号：
		<div th:errors="*{zipcode}" style="color: red">エラー</div>
		<input type="text" th:field="*{zipcode}"> <br> 
		住所：
		<div th:errors="*{address}" style="color: red">エラー</div>
		<input type="text" th:field="*{address}"> <br> 
		電話番号：
		<div th:errors="*{telephone}" style="color: red">エラー</div>
		<input type="text" th:field="*{telephone}">

		<button type="submit">登録</button>

	</form>


</body>
</html>